
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<html>
    <head>

    </head>
    <body>
        <div>
            <h1>This is data Index</h1>
            <h2>Welvome to my asp.net mvc web app.</h2>
            <h3>Hello User, @ViewBag.greetingMsg</h3>
            <a href="/Converter/index"></a>
            <a href="/Employee/create"></a>
        </div>    
    </body>
    
</html>


